target
temp-testng-customsuite.xml
test-output/
sproutcore
src/main/resources/web-interface/tahrir/tmp
logback*.xml
*.iml
*.iws
*.ipr
.idea
out/
src/main/java/META-INF/
src/main/resources/tahrir/artwork/tahrir-logo_small.png
ubuntu@seed1.tahrirproject.org
