<configuration debug = "true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger{10} (%file:%L\) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="tahrir.io.net.sessions.AssimilateSessionImpl" level="DEBUG" />

    <!-- turn OFF all logging (children can override) -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>