<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{10} (%file:%L\) - %msg%n</Pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

    <logger name="tahrir.io.net.sessions.AssimilateSessionImpl" level="TRACE"/>
    <logger name="tahrir.io.net.udpV1" level="INFO" />
</configuration>